// ==================================================================
//    COLORS
// ===================================================================
$color-primary: #fd8a06; // Orange
$color-secondary: #eb3249; // Red
$color-facebook: #3b5999; // blue
$color-twitter: #55acee; // cyan
$color-instagram: #e4405f; // pink
$color-google-plus: #dd4b39; // pale red


// ===================================================================
//    MEDIAQUERIES
// ===================================================================
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// ===================================================================
//    FONTS
// ===================================================================
$base-font-family: 'Poppins', sans-serf;
$secondary-font-family: 'Montserrat', sans-serf;
$heading-font-weight: 400;
$heading-font-weight-bold: 700;


// ===================================================================
//    DIMENSIONS
// ===================================================================
$section-padding: 120px;
