
	<template name="login">
	
        <!--=============== Login Section ===============-->
        <section class="login land">
            <div class="row">

                <!-- Login Form -->
                <div style="background-color:rgb(220,80,80)" class="form-holder col-lg-8 push-lg-2">
                    <form  id="login-form" class="has-shadow">
                      
						<img style="width:50vh;height:50vh;" src="img/logo.png"/>
					  
                        <div class="divider d-flex align-items-center justify-content-center">
                            <div class="text">Connect With</div>
                        </div>

                        <div class="alternate-login d-flex align-items-center justify-content-center flex-column flex-md-row">
                          
                            <a href="#" id="google-login" class="btn social-btn social-google-plus">
                                <i class="fa fa-google-plus"></i> Google Account
                            </a>
                        </div>

                    </form>
                </div><!-- /. Login Form -->
            </div>
        </section>

        <!--=============== Login Section ===============-->

</template>